# Bytecode files #
##################
__pycache__/
*.py[cod]
*$py.class

# Data files #
##################
data
*.dat

# Other files #
##################
*.vscode

# Setup files #
##################
*.bashmosek.lic
*.lic
*.egg-info/
build/
dist/
.venv/
